/*CSS Reset*/

*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


/*Google Font*/
body	{
	font-family: 'Open-Sans', sans-serif;
	font-size: 30px;

}

nav	{
	padding: 0.8rem;

	/*
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left:	0.8rem	*/


	margin-bottom: 2 rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*intro section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button	{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
	padding-bottom: 15%;
}

#succeed-info h2 {
	margin-bottom: 4rem;
}

#succeed-info h3 {
	font-size: 35px;
	text-align: center;
	margin-bottom: 2rem;
}

#succeed-info .card {
	font-size: 25px;
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 1rem;
	margin-right: 1rem;
}


footer	{ 
	padding: 0.7rem;
}



#pre-footer .card{
		display: inline-block;
		vertical-align: top;
		width: 15%;
		color: whitesmoke;
		margin-right: 100px;
		font-size: 20px;
}

#pre-footer {
	background-color: #002540;
	padding-top: 1rem;
	padding-bottom: 3rem;
	padding-left: 15%;
}

#pre-footer h3 {
		color: whitesmoke;
		font-size: 25px;
}

footer {
	font-size: 15px;	
	padding: 0.7rem;
}

Footer span {
	margin-left: 0.5rem;
	margin-left: 0.5rem;
}